<body>
    <button id="homeBtn">Return to Homepage</button>
    <div id="question"></div>
    <div id="image">
        <img id="dataImage" src="5-Data-Visualization-Techniques3-min.jpg" alt="Data Visualization Image">
    </div>
    <div id="options"></div>
    <div id="feedback"></div>
    <div id="content">
        <p>What is Data Visualization?</p>
        <p>
            Data visualization goes beyond graphical data display, taking a sophisticated approach to processing information.
            Data visualization turns convoluted data into physical visuals to “describe huge data in a reachable, comprehensible,
            and simple format”. Data information has become an integral part of the operation of companies, industries, and technological
            development. Specifically, as financial statements have become more comprehensive, their readability has decreased proportionally,
            making it difficult to sort through, understand, and make informed decisions about the company’s performance. Data visualization
            seeks to provide a bridge that connects data to the human vision, simplifying the decision-making process. The goal of data
            visualization is an effective product that provides insight into the data.
        </p>
    </div>
    <script src="capstone.js"></script>
</body>
